* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 56px;
}
.content{
    font-family: 'Potta One', cursive;
}
.container{
   
    width: 60vw;
    padding: 32px 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;

}

.logo img{
    width: 34px;
}